<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>IQ Tech</title>

    <link rel="stylesheet" href="~/css/master.css" />
    <link rel="stylesheet" href="~/css/mainmenu.css" />

    <script type="text/javascript" src="~/js/master.js"></script>
</head>

<body>

    <header id="header">
        <div class="innerHeader">
            <h1>IQ Tech</h1>
            <div class="headerLinksContainer">
                <img class="headerLink" src="~/images/github32.png" />
                <span>GitHub</span>
            </div>
        </div>

    </header>

    <hr class="horizontalSeparator" />

    <div id="wrapper">

        <main>
            <div id="content">
                <div class="innertube">
                    <h1>Heading</h1>
                    <p>
                        <script>generateText(20)</script>
                    </p>
                    @RenderBody()
                </div>
            </div>
        </main>

        <nav id="nav">
            <div class="innerNav">
                @{ Html.RenderPartial("partialMainMenu"); }
            </div>
        </nav>

    </div>

    <hr class="horizontalSeparator" />

    <footer id="footer">
        <div class="innertube">
            <p>Footer...</p>
        </div>
    </footer>

</body>
</html>
