@page
@model IQTechCore.Pages.AboutModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    ABOUT PAGE
</body>
</html>
