@page
@model IQTechCore.Pages.ContactModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <h3>This site is owned by:</h3>
        <p>
            Balázs Ujlaki <br/><br/>
            <a href="mailto:balazs.ujlaki@gmail.com">balazs.ujlaki@gmail.com</a>
        </p>
    </div>
</body>
</html>
