@page
@model IQTechCore.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Welcome to IQ Tech</h3>
    Areas of activity:
    <ul>
        <li>.NET desktop applications</li>
        <li>ASP.NET Core web applications</li>
        <li>Android development</li>
        <li>Xamarin</li>
        <li>node.js implementations</li>
    </ul>
</body>
</html>
