@page
@model IQTechCore.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Welcome to IQ Tech!</h3>
    This page is currently a collection of articles and tutorials about
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    general IT and programming topics.
</body>
</html>
